.div.abajo{
    display: flex;
    justify-content: space-around;
}

.btn.uno_abajo{
    background-color: $gris;
    color: $blanco;
}

.btn.dos_abajo{
    background-color: $gris;
    color: $blanco;
}