html, body, .container{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(/ejercicio2/Multimedia/fondo.png);
    margin: 0;
}

h1{
    color: white;
    text-transform: uppercase;
}

.container{
    display: flex;
    flex-direction: column;
}

input{
    margin: 3em 1em;
}

.imgRedonda{
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 100%;
    background-size: 100% auto;
    object-fit: cover;
    margin: 1em;
}

.btn{
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: null;
    padding: 1em;
    opacity: 1;
    text-transform: uppercase;
}

.btn:hover{
    opacity: 1.0;
}

.btn.uno_arriba{
    background-color: rgb(50, 70, 80);
    color: white;
}

.btn.dos_arriba{
    background-color: rgb(60, 80, 50);
    color: white;
}

.btn.tres_arriba{
    background-color: rgb(80, 50, 50);
    color: white;
    margin-right: 5em;
}

.btn.uno_abajo{
    background-color: rgb(60, 60, 60);
    color: white;
}

.btn.dos_abajo{
    background-color: rgb(60, 60, 60);
    color: white;
}

.div.arriba{
    display: flex;
    justify-content: flex-end;
}

.div.centro{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div.abajo{
    display: flex;
    justify-content: space-around;
}

.div_iconos1{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}

.div_iconos2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

hr{
    width: 50%;
}